#container {
    padding-bottom: 40px;
    font-size: 20px;
    width: 900px;
    margin-left: 220px;
}

#firstMethod {
    width: 100%;
}
p{
    text-indent: 2em;
    margin-bottom: -0.5em;
    line-height: 1.5;
    text-align: justify;
}
p a{
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}
.left-0{
    text-indent: 0em;
}
.conteinFormulas{
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    background-color: whitesmoke;
    border: 1px solid #afafaf;
    margin-top: 20px;
}
.conteinGrafics{
    float: right;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    width: 450px;
    height: auto;
    border-radius: 4px;
    background-color: whitesmoke;
    border: 1px solid #afafaf;
}
#betaMethod h3{
    text-align: center;
}
.years td{
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}