body {
    margin: 0 auto;
}
#container
{
    display: table;
    width: 100%;
}

#wrapper
{
    display: table-row;

}

#content
{
    margin: 0 auto;
    display: table-cell;
    text-align: center;

}
a.knopka{
    float: left;
    margin: 15px;
    color: black; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
    background-color: #eee; /* фон кнопки */
    padding: 8px; /* отступ от текста */
    border-radius: 7px;
    outline: none; /* убирать контур в Mozilla */
}
a.knopka:hover {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 30px 0 rgba(140, 140, 140, 0.98);
    -moz-box-shadow:    0 0 30px 0 rgba(140, 140, 140, 0.98);
    box-shadow:         0 0 30px 0 rgba(140, 140, 140, 0.98);
    cursor: pointer;
} /* при наведении курсора мышки */
a.knopka:active {
    background-color: #999;
} /* при нажатии */
#container h1
{
	color : black;
}

#message{
    height: 100%;
    width: 100%;
    position: absolute;
		z-index: 15000;
    margin-top: -1px;
    padding-top: 15%;
    background-color: rgba(33, 33, 33, 0.8);
    color: #faf3b7;
    text-align: center;
    /*font-size: 1.5em;*/
}

#content div
{
    height: 50px;
    width: 50%;
    border: 1px solid;
    margin-left: 25%;
    margin-bottom: 20px;
    line-height: 50px;
    cursor: pointer;
}

#content a
{
    text-decoration: none;
    color: black;
}


h1
{
    text-align: center;
}





#contract
{
    display: table-cell;
    width: 40%;
    height: 200px;
    margin-left: 5%;
    border: 1px solid;
    float: left;


}



#nomoney
{
    display: table-cell;
    width: 40%;
    height: 200px;
    margin-right: 5%;
    border: 1px solid;
    float : right;
}


#table
{
    width: 100%;
    text-align: center;
}
.hat-table{

}

.years tr td
{
    border-color: #eeeeee;
    border-width: 2px;
    padding: 1px;
}


.title
{
    font-size: 25px;
    text-align: center;

}



#pricing-table {
    margin: 0px auto 50px auto;
    text-align: center;
    /*width: 850px; /* total computed width = 222 x 3 + 226 */
    height: auto;
    overflow: hidden;
		display: inline-block;
}
#pricing-table h3{
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
    padding-right: 100px;
    padding-top: 40px;
    margin: 5px -20px 0px -60px;
    /*background-color: #eee;
    background-image: -moz-linear-gradient(#fff,#eee);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#eee, #fff);*/
}

#pricing-table h3 span {
    display: block;
    font: bold 30px/100px Georgia, Serif;
    text-align: center;
    color: #777;
    background: #fff;
    border: 5px solid whitesmoke;
		height: 115px;
		width: 120px;
		margin: -75px 10px -20px 304px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
		padding-top: 5px;
}

/* --------------- */

#pricing-table ul {
    margin: 50px 0 0 0;
    padding: 0;
    list-style: none;
}
#pricing-table #hat ul {
    margin: 0px 0 0 0;
    padding: 0;
    list-style: none;
}
#pricing-table li {
    border-top: 1px solid #ddd;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.years{
		margin-top: 14px;
}
