body {
    margin: 0 auto;
}


#container
{
    display: table;
    width: 100%;
}

#wrapper
{
    display: table-row;

}

#content
{
    margin: 0 auto;
    display: table-cell;
    text-align: center;

}
a.knopka{
    float: left;
    margin: 15px;
    color: black; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
    background-color: #eee; /* фон кнопки */
    padding: 8px; /* отступ от текста */
    border-radius: 7px;
    outline: none; /* убирать контур в Mozilla */
}
a.knopka:hover {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 30px 0 rgba(140, 140, 140, 0.98);
    -moz-box-shadow:    0 0 30px 0 rgba(140, 140, 140, 0.98);
    box-shadow:         0 0 30px 0 rgba(140, 140, 140, 0.98);
    cursor: pointer;
} /* при наведении курсора мышки */
a.knopka:active {
    background-color: #999;
} /* при нажатии */
#container h1
{
	color : black;
}

#message {
    background-color: rgba(33, 33, 33, 0.8);
    color: #faf3b7;
    height: 100%;
    margin-top: -1px;
    padding-top: 15%;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 9000;
}

#content div
{
    height: 50px;
    width: 50%;
    border: 1px solid;
    margin-left: 25%;
    margin-bottom: 20px;
    line-height: 50px;
    cursor: pointer;
}

#content a
{
    text-decoration: none;
    color: black;
}


h1
{
    text-align: center;
}


.del{
    cursor: pointer;
    opacity: 0.8;
    border: none;
    background-color: #48bbb4;

}

.del:hover
{
    cursor: pointer;
}


#contract
{
    display: table-cell;
    width: 40%;
    height: 200px;
    margin-left: 5%;
    border: 1px solid;
    float: left;


}



#nomoney
{
    display: table-cell;
    width: 40%;
    height: 200px;
    margin-right: 5%;
    border: 1px solid;
    float : right;
}


#table
{
    width: 100%;
    text-align: center;
}
.hat-table{

}

.years tr td
{
    border-color: #eeeeee;
    border-width: 2px;
    padding: 1px;
}


.title
{
    font-size: 25px;
    text-align: center;

}



#pricing-table {
		margin: 0 0 50px 0;
		text-align: center;
		height: auto;
		overflow: hidden;
		width: 1010px;
		display: inline-block;
}

#pricing-table h3 {
		font-size: 24px;
		font-weight: 500;
		margin: 5px 70px 0 -20px;
		padding: 42px 100px 20px 0;
    /*background-color: #eee;
    background-image: -moz-linear-gradient(#fff,#eee);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#eee, #fff);*/
}

#pricing-table h3 span {
    background: none repeat scroll 0 0 #fff;
    border: 5px solid #fff;
    border-radius: 100px;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    color: #777;
    display: block;
    font: bold 30px/100px Georgia,serif;
    height: 118px;
    margin: -78px 10px -20px 250px;
    padding-top: 6px;
    text-align: center;
    width: 124px;
}

/* --------------- */

#pricing-table ul {
    margin: 50px 0 0 0;
    padding: 0;
    list-style: none;
}
#pricing-table #hat ul {
    margin: 0px 0 0 0;
    padding: 0;
    list-style: none;
}
#pricing-table li {
    border-top: 1px solid #ddd;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
