.cont-reg{
    margin: 14px 0px;
}
.cont-reg input{
    display: inline-block;
    margin: 8% auto 0 auto;
    font-size: 13px;
    overflow: hidden;
    padding: 5px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #48bbb4;
    border-radius: 7px;
}




body{
    padding: 1px;
    margin: -1px;
}
div.reg{
    /*display: none;*/
    overflow: hidden;
    line-height: 1.7em;
    text-align: center;
    position: fixed;

		z-index: 20000;
    width: 100%;
    height: 0;
    background-color: rgba(40, 40, 40, 0.30);
    -webkit-transition: all 0.16s;
    -ms-transition: all 0.16s;
    -o-transition: all 0.16s;
    -moz-transition: all 0.16s;
    transition: all 0.16s;
}
div.reg_open{
    display: block;
    height: 100%;
}
div.auth_center{
    display: inline-block;
    margin: 8% auto 0 auto;
    font-size: 18px;
    overflow: hidden;
    padding: 5px 30px;
    text-align: left;
    background-color: #ffffff;
    border: solid 1px #46554a;
    border-radius: 10px;
    /*width: 145px;*/
}
#output{
    height: 28px;
    color: #801113;
    font-size: 13px;
    line-height: normal;
}
div.input{
    margin: 8px auto;
    float: right;
    clear: both;
}
div.input label{
    display: inline-block;
    width: 76px;
}
div.input input{
    display: inline-block;
    padding: 0.15em;
    width: 200px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #999999;
    border-radius: 7px;
}
/*#form-enter input[type="submit"]{
    clear: both;
    color: rgba(0, 27, 151, 0.95);
    background-color: #E5EAEA;
    border: 1px solid #999999;
    border-radius: 6px;
    width: 56px;
    /*margin-left: 170px;*/
/*    float: right;
}
#form-enter input[type="submit"]:hover{
    cursor: pointer;
    text-decoration: underline;
}
*/
